

.pl-c /* comment */ {
  color: #969896;
}



.pl-id /* invalid.deprecated */ {
  color: #b52a1d;
}

.pl-ii /* invalid.illegal */ {
  color: #f8f8f8;
  background-color: #b52a1d;
}

\pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  font-weight: bold;
  color: #63a35c;
}

.pl-ml /* markup.list */ {
  color: #693a17;
}
